.header img{
height: 80px;
}
.header{
    text-align: center;
}
.header nav{
    background-color: #2851A3;
    line-height: 40px;
    font-size: 20px;  
}
nav a{
    text-decoration: none;
    color: whitesmoke;
    margin-right: 20px;
    padding: 6px;
}
nav a:hover{
    background-color: #1D3C78;
    border-radius: 10px;
    padding: 2.5px;
    
}